version: '3.9'

services:
    app:
        build:
            context: ..
            dockerfile: _docker/php/Dockerfile
        container_name: laravel-app
        restart: unless-stopped
        working_dir: /var/www
        ports:
            - "5173:5173"  # Expose Vite's dev server port
            - "8080:8080"
        volumes:
            - ./:/var/www
        networks:
            - laravel-net

    nginx:
        image: nginx:alpine
        container_name: laravel-nginx
        restart: unless-stopped
        ports:
            - "8878:80"
        volumes:
            - ./:/var/www
            - ./_docker/nginx/conf.d:/etc/nginx/conf.d
        depends_on:
            - app
        networks:
            - laravel-net

networks:
    laravel-net:
        driver: bridge
